@import 'bootstrap/scss/bootstrap.scss';

.tim_mai_am {
  .searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;

    form {
      width: 60%;
      @include phone-screen {
        width: 80%;
      }
      input {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #ced4da;
        padding: 10px;
        font-size: 20px;
        background-color: transparent;
        color: white;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: white;
        }
      }
    }

    .search-icon {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
